html {
  height: 100%;
  width: 100%;
}

.divider {
  color: grey;
  opacity: .50;
  border-width: 3px;
}


.info-card {
  margin-top: 1vw;
  margin-right: 5vw;
  max-width: 300px;
}

.info-section {
  display: flex;
  height: 2vw;
}


.quote-text {
  font-style: italic;
  font-family: cursive;
}

.pfp {
  max-width: 7vw;
  max-height: 7vw;
  padding: 1vw;
  margin: 1vw;
  border: 1px solid;
  border-radius: 7vw;
}